<script type="text/template" class="soccerseasons-list-template">
    <td><span class="id"><%= id  %></span></td>
    <td><span class="caption"><%= caption  %></span></td>
    <td><span class="league"><%= league  %></span></td>
    <td><span class="year"><%= year  %></span></td>
    <td><span class="currentMatchday"><%= currentMatchday  %></span></td>
    <td><span class="numberOfTeams"><%= numberOfTeams  %></span></td>
    <td><span class="numberOfGames"><%= numberOfGames  %></span></td>
    <td><span class="lastUpdated"><%= lastUpdated  %></span></td>
</script>